<html>
<head>
    <title>Email Verification</title>
</head>
<body>
  <p>Hey {{ userName }},</p>
  <p>Please click below to confirm your email</p>
  <p>
    <a href="{{ url }}">Confirm</a>
  </p>
</body>
</html>